body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:90px;
  top:56px;
  width:822px;
  height:37px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:822px;
  height:37px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:822px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:424px;
  top:98px;
  width:10px;
  height:36px;
}
#u2_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u2_end {
  position:absolute;
  left:-5px;
  top:19px;
  width:20px;
  height:18px;
}
#u2_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:36px;
}
#u3 {
  position:absolute;
  left:699px;
  top:108px;
  width:187px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:16px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:699px;
  top:153px;
  width:217px;
  height:32px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:32px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:699px;
  top:367px;
  width:130px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:15px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:699px;
  top:397px;
  width:187px;
  height:22px;
  text-align:left;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:22px;
}
#u10 {
  position:absolute;
  left:10px;
  top:4px;
  width:175px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:699px;
  top:425px;
  width:127px;
  height:22px;
  text-align:left;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
}
#u12 {
  position:absolute;
  left:10px;
  top:4px;
  width:115px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:699px;
  top:224px;
  width:19px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:15px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:699px;
  top:522px;
  width:150px;
  height:16px;
  font-size:14px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u15_ann {
  position:absolute;
  left:842px;
  top:518px;
  width:1px;
  height:1px;
}
#u17 {
  position:absolute;
  left:699px;
  top:544px;
  width:170px;
  height:23px;
  font-size:14px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:23px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u17_ann {
  position:absolute;
  left:862px;
  top:540px;
  width:1px;
  height:1px;
}
#u19 {
  position:absolute;
  left:699px;
  top:248px;
  width:60px;
  height:80px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:80px;
}
#u20 {
  position:absolute;
  left:2px;
  top:32px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_ann {
  position:absolute;
  left:752px;
  top:244px;
  width:1px;
  height:1px;
}
#u21 {
  position:absolute;
  left:710px;
  top:280px;
  width:36px;
  height:18px;
  font-size:16px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:18px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:90px;
  top:108px;
}
#u23_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u23_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:315px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:315px;
}
#u25 {
  position:absolute;
  left:2px;
  top:150px;
  width:556px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:41px;
  color:#FFFFFF;
  text-align:left;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:41px;
}
#u27 {
  position:absolute;
  left:10px;
  top:13px;
  width:548px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:237px;
  top:129px;
  width:89px;
  height:82px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:82px;
}
#u29 {
  position:absolute;
  left:2px;
  top:33px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:263px;
  top:149px;
  width:44px;
  height:42px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:42px;
}
#u31 {
  position:absolute;
  left:2px;
  top:13px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_ann {
  position:absolute;
  left:643px;
  top:104px;
  width:1px;
  height:1px;
}
#u32 {
  position:absolute;
  left:699px;
  top:489px;
  width:123px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:15px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:90px;
  top:440px;
  width:560px;
  height:275px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:275px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  word-wrap:break-word;
}
#u34_ann {
  position:absolute;
  left:643px;
  top:436px;
  width:1px;
  height:1px;
}
#u36 {
  position:absolute;
  left:0px;
  top:725px;
  width:1024px;
  height:73px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:73px;
}
#u37 {
  position:absolute;
  left:2px;
  top:28px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:45px;
  text-decoration:underline;
  color:#0000FF;
  text-align:center;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:45px;
}
#u39 {
  position:absolute;
  left:0px;
  top:25px;
  width:200px;
  word-wrap:break-word;
}
#u38_ann {
  position:absolute;
  left:193px;
  top:-4px;
  width:1px;
  height:1px;
}
