body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:45px;
  width:1024px;
  height:591px;
  overflow:hidden;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:591px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:90px;
  top:56px;
  width:822px;
  height:37px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:822px;
  height:37px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:822px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:424px;
  top:98px;
  width:10px;
  height:36px;
}
#u3_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u3_end {
  position:absolute;
  left:-5px;
  top:19px;
  width:20px;
  height:18px;
}
#u3_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:36px;
}
#u4 {
  position:absolute;
  left:699px;
  top:108px;
  width:187px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:699px;
  top:153px;
  width:217px;
  height:32px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:32px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:90px;
  top:487px;
  width:560px;
  height:70px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:70px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  word-wrap:break-word;
}
#u8_ann {
  position:absolute;
  left:643px;
  top:483px;
  width:1px;
  height:1px;
}
#u10 {
  position:absolute;
  left:699px;
  top:367px;
  width:130px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:15px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:699px;
  top:397px;
  width:187px;
  height:22px;
  text-align:left;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:22px;
}
#u13 {
  position:absolute;
  left:10px;
  top:4px;
  width:175px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:699px;
  top:425px;
  width:127px;
  height:22px;
  text-align:left;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
}
#u15 {
  position:absolute;
  left:10px;
  top:4px;
  width:115px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:699px;
  top:224px;
  width:19px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:15px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:699px;
  top:522px;
  width:150px;
  height:16px;
  font-size:14px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u18_ann {
  position:absolute;
  left:842px;
  top:518px;
  width:1px;
  height:1px;
}
#u20 {
  position:absolute;
  left:699px;
  top:544px;
  width:170px;
  height:23px;
  font-size:14px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:23px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u20_ann {
  position:absolute;
  left:862px;
  top:540px;
  width:1px;
  height:1px;
}
#u22 {
  position:absolute;
  left:699px;
  top:248px;
  width:60px;
  height:80px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:80px;
}
#u23 {
  position:absolute;
  left:2px;
  top:32px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_ann {
  position:absolute;
  left:752px;
  top:244px;
  width:1px;
  height:1px;
}
#u24 {
  position:absolute;
  left:710px;
  top:280px;
  width:36px;
  height:18px;
  font-size:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:18px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:90px;
  top:108px;
}
#u26_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u26_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:315px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:315px;
}
#u28 {
  position:absolute;
  left:2px;
  top:150px;
  width:556px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:41px;
  color:#FFFFFF;
  text-align:left;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:41px;
}
#u30 {
  position:absolute;
  left:10px;
  top:13px;
  width:548px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:237px;
  top:129px;
  width:89px;
  height:82px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:82px;
}
#u32 {
  position:absolute;
  left:2px;
  top:33px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:263px;
  top:149px;
  width:44px;
  height:42px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:42px;
}
#u34 {
  position:absolute;
  left:2px;
  top:13px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_ann {
  position:absolute;
  left:643px;
  top:104px;
  width:1px;
  height:1px;
}
#u35 {
  position:absolute;
  left:90px;
  top:557px;
}
#u35_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u35_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u36 {
  position:absolute;
  left:30px;
  top:0px;
  width:64px;
  height:15px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:15px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
  text-shadow:1px 1px 0px rgba(0, 0, 255, 0.6470588);
  -webkit-text-shadow:1px 1px 0px rgba(0, 0, 255, 0.6470588);
  -moz-text-shadow:1px 1px 0px rgba(0, 0, 255, 0.6470588);
}
#u38 {
  position:absolute;
  left:0px;
  top:3px;
  width:19px;
  height:10px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:10px;
}
#u39 {
  position:absolute;
  left:2px;
  top:-3px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:699px;
  top:489px;
  width:123px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:15px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:90px;
  top:487px;
  width:560px;
  height:275px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:275px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  word-wrap:break-word;
}
#u42_ann {
  position:absolute;
  left:643px;
  top:483px;
  width:1px;
  height:1px;
}
#u44 {
  position:absolute;
  left:93px;
  top:772px;
  visibility:hidden;
}
#u44_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u44_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u45 {
  position:absolute;
  left:30px;
  top:0px;
  width:59px;
  height:15px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:15px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
  text-shadow:1px 1px 0px rgba(0, 0, 255, 0.6470588);
  -webkit-text-shadow:1px 1px 0px rgba(0, 0, 255, 0.6470588);
  -moz-text-shadow:1px 1px 0px rgba(0, 0, 255, 0.6470588);
}
#u47 {
  position:absolute;
  left:0px;
  top:3px;
  width:19px;
  height:10px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:10px;
}
#u48 {
  position:absolute;
  left:2px;
  top:-3px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:0px;
  top:787px;
  width:1024px;
  height:73px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:73px;
}
#u50 {
  position:absolute;
  left:2px;
  top:28px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:45px;
  text-decoration:underline;
  color:#0000FF;
  text-align:center;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:45px;
}
#u52 {
  position:absolute;
  left:0px;
  top:25px;
  width:200px;
  word-wrap:break-word;
}
#u51_ann {
  position:absolute;
  left:193px;
  top:-4px;
  width:1px;
  height:1px;
}
#u53 {
  position:absolute;
  left:90px;
  top:434px;
}
#u53_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u53_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u54 {
  position:absolute;
  left:15px;
  top:0px;
  width:12px;
  height:13px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:13px;
}
#u55 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:2px;
  top:10px;
  width:12px;
  height:13px;
  -webkit-transform:rotate(288deg);
  -moz-transform:rotate(288deg);
  -ms-transform:rotate(288deg);
  transform:rotate(288deg);
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:13px;
}
#u57 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:6px;
  top:28px;
  width:11px;
  height:13px;
  -webkit-transform:rotate(216deg);
  -moz-transform:rotate(216deg);
  -ms-transform:rotate(216deg);
  transform:rotate(216deg);
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:13px;
}
#u59 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:23px;
  top:28px;
  width:12px;
  height:13px;
  -webkit-transform:rotate(144deg);
  -moz-transform:rotate(144deg);
  -ms-transform:rotate(144deg);
  transform:rotate(144deg);
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:13px;
}
#u61 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:29px;
  top:10px;
  width:11px;
  height:13px;
  -webkit-transform:rotate(72deg);
  -moz-transform:rotate(72deg);
  -ms-transform:rotate(72deg);
  transform:rotate(72deg);
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:13px;
}
#u63 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:15px;
  top:14px;
  width:12px;
  height:19px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:19px;
}
#u65 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:14px;
  top:12px;
  width:11px;
  height:17px;
  -webkit-transform:rotate(252deg);
  -moz-transform:rotate(252deg);
  -ms-transform:rotate(252deg);
  transform:rotate(252deg);
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:17px;
}
#u67 {
  position:absolute;
  left:2px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:16px;
  top:14px;
  width:12px;
  height:17px;
  -webkit-transform:rotate(108deg);
  -moz-transform:rotate(108deg);
  -ms-transform:rotate(108deg);
  transform:rotate(108deg);
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:17px;
}
#u69 {
  position:absolute;
  left:2px;
  top:0px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:14px;
  top:16px;
  width:11px;
  height:13px;
  -webkit-transform:rotate(36deg);
  -moz-transform:rotate(36deg);
  -ms-transform:rotate(36deg);
  transform:rotate(36deg);
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:13px;
}
#u71 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:16px;
  top:16px;
  width:12px;
  height:13px;
  -webkit-transform:rotate(324deg);
  -moz-transform:rotate(324deg);
  -ms-transform:rotate(324deg);
  transform:rotate(324deg);
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:13px;
}
#u73 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:48px;
  top:17px;
  width:136px;
  height:12px;
  font-size:11px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:12px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  white-space:nowrap;
  text-shadow:0px 1px 0px rgba(0, 0, 255, 0.6470588);
  -webkit-text-shadow:0px 1px 0px rgba(0, 0, 255, 0.6470588);
  -moz-text-shadow:0px 1px 0px rgba(0, 0, 255, 0.6470588);
}
#u53_ann {
  position:absolute;
  left:267px;
  top:430px;
  width:1px;
  height:1px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:45px;
}
#u76_img {
  position:absolute;
  left:-2px;
  top:-1px;
  width:1028px;
  height:49px;
}
#u77 {
  position:absolute;
  left:2px;
  top:14px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:873px;
  top:6px;
  width:137px;
  height:30px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:32px;
}
#u79 {
  position:absolute;
  left:2px;
  top:8px;
  width:133px;
  word-wrap:break-word;
}
#u78_ann {
  position:absolute;
  left:1003px;
  top:2px;
  width:1px;
  height:1px;
}
#u80 {
  position:absolute;
  left:33px;
  top:13px;
  width:131px;
  height:21px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:21px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u80_ann {
  position:absolute;
  left:157px;
  top:9px;
  width:1px;
  height:1px;
}
