body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:113px;
  width:1024px;
  height:94px;
  text-align:center;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:94px;
}
#u1 {
  position:absolute;
  left:0px;
  top:28px;
  width:1024px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:247px;
  top:230px;
  width:529px;
  height:189px;
  text-align:center;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:189px;
}
#u3 {
  position:absolute;
  left:15px;
  top:15px;
  width:499px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:405px;
  top:430px;
  width:213px;
  height:31px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:33px;
}
#u5 {
  position:absolute;
  left:2px;
  top:8px;
  width:209px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:45px;
}
#u6_img {
  position:absolute;
  left:-2px;
  top:-1px;
  width:1028px;
  height:49px;
}
#u7 {
  position:absolute;
  left:2px;
  top:14px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:33px;
  top:13px;
  width:131px;
  height:21px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:21px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:873px;
  top:6px;
  width:137px;
  height:30px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:32px;
}
#u11 {
  position:absolute;
  left:2px;
  top:8px;
  width:133px;
  word-wrap:break-word;
}
